@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

 body {
        font-family: "Bai Jamjuree";
    }

    h2, h1, h3 {
        color: hsl(210, 10%, 33%);
    }

    p {
        color: hsl(201, 11%, 66%);
    }

/*PC*/
@media screen and (min-width: 1024px) {
    div {
        font-size: 1.7rem;
        border-radius: 2rem;
        padding: 1rem;
    }
    span {
        display: flex;
        margin: 6rem 0;
    }
    /*article*/
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article .bg-header img {
        width: 98.9vw;
    }
    article h1 {
        font-size: 4rem;
    }
    article p {
        font-size: 2rem;
        text-align: center;
    }
    
    article .ios {
        background: hsl(171, 66%, 44%);
        position: relative;
        left: -1rem;
        color: white;
    }
    article .mac {
        background: hsl(233, 100%, 69%);
        position: relative;
        right: -1rem;
        color: white;
    }
    /*article*/

    /*section a*/
    .a {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .a figure img {
        position: relative;
        left: -5rem;
    }
    .a div {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
    }
    .a .text  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -5rem;
    }
    .a h2 {
        font-size: 3rem;
        text-align: center;
    }
    .a h3 {
        font-size: 2.5rem;
    }
    .a p {
        font-size: 2rem;
        text-align: center;
    }
    .a .text p {
        text-align: left;
        padding-bottom: 5rem;
    }
    /*section a*/

    /*section b*/
    .b {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    }
    .b h2 {
        font-size: 3rem;
    }
    .b p {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 9rem;
    }
    /*section b*/

    /*section c*/
    .c {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .c h2 {
        font-size: 3rem;
    }
    .c h3 {
        font-size: 2.5rem;
    }
    .c p {
        font-size: 2rem;
    }
    .c div {
        display: flex;
        text-align: center;
        margin: 4rem 2rem;
        align-items: center;
        width: 86vw;
    }
    .c .c-a {
        width: 29vw;
        
    }
    .c .c-b {
        width: 28vw;
        
    }
    .c .c-c {
        width: 29vw;
    }
    /*section c*/

    /*section empresas*/
    .empresas {
        display: flex;
        justify-content: center;
    }
    .empresas figure {
        padding: 0 7rem 0 0;
    } 
    /*section empresas*/

    /*section d*/
    .d {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .d h2 {
        font-size: 3rem;
    }
    .d p {
        font-size: 2.5rem;
    }
    .d .ios {
        background: hsl(171, 66%, 44%);
        position: relative;
        left: -1rem;
        font-size: 1.7rem;
        color: white;
    }
    .d .mac {
        background: hsl(233, 100%, 69%);
        position: relative;
        right: -1rem;
        font-size: 1.7rem;
        color: white;
    }
    /*section d*/

    /*Footer*/
    footer {
        display: flex;
        background: hsl(0, 0%, 95%);
        position: relative;
        padding: 4rem 0;
    }
    footer .logo {
        width: 10rem;
        position: relative;
        left: 15rem;
    }
    footer div {
        position: relative;
        top: 2rem;
        right: -20rem;
        padding-left: 5rem;
    }
    footer .a-a {
        display: flex;
        flex-direction: column;
    }
    footer .a-a p {
        font-size: 2rem;
    }
    footer .b-b {
        display: flex;
        flex-direction: column;
    }
    footer .b-b p {
        font-size: 2rem;
    }
    footer .c-c p {
        font-size: 2rem;
    }
    footer section {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 40vw;
    }
    footer section figure {
        padding-left: 3rem;
    }
    /*Footer*/
}
/*PC*/

/*mobile*/
@media screen and (max-width: 576px) {
    
}
/*mobile*/