@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: "League Spartan";
}

main {
    background-color: white;
    margin: 0px 0 100px 80px;
}

article {
    color: #502050;
    font-size: 30px;
    padding: 0 0 0 0;
}

.minitexto {
    font-size: 20px;
    color: #937b92;
    position: relative;
    top: 30px;
}

.star {
    transform: scale(80%);
}

.avaliacao {
    position: relative;
    top: -150px;
    right: -600px;
    width: 25%;
    font-size: 20px;
    color: #502050;
}

.reviews {
    background-color: #f7f2f7;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin: 0 -100px 0 0;
}

.guru {
    background-color: #f7f2f7;
    border-radius: 10px;
    position: relative;
    top: 10px;
    right: -30px;
    margin: 0 -100px 0 0;
    padding: 10px 0px 10px 10px;
}

.tech {
    background-color: #f7f2f7;
    border-radius: 10px;
    position: relative;
    top: 20px;
    right: -70px;
    margin: 0 -100px 0 0;
    padding: 10px 0px 10px 10px;
}

.pessoas {
    display: flex;

}

.colton {
    background-color: #502050;
    width: 300px;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
    color: white;
}

    p span {
        color: #ee68a4;
    }

    .image {
        border-radius: 100px;
        position: relative;
        top: -10px;
        width: 50px;
    }

    .imagetext {
        display: flex;
    }

    .image {
        margin: 0 30px 0 0;
    }

    .name {
        position: relative;
        top: -15px
    }

    .verfied {
        position: relative;
        bottom: -4px;
        left: -82px;
    }

    .text {
        line-height: 20px;
    }

.irene {
    background-color: #502050;
    position: relative;
    top: 40px;
    left: 30px;
    width: 300px;
    padding: 30px 30px 0 30px;
    border-radius: 10px;
    color: white;
}

.anne {
    background-color: #502050;
    width: 300px;
    position: relative;
    top: 80px;
    left: 60px;
    padding: 30px 0 0px 30px;
    border-radius: 10px;
    color: white;

}